body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

#controls {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f3f3f3;
    border-right: 1px solid #ccc;
}

#controls select,
#controls input,
#controls button {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
}

#canvas-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    justify-content: flex-start;
}

#canvas {
    display: block;
    background-color: #eaeaea;
}

#layer-panel {
    width: 250px;
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}

#layer-panel h3 {
    margin: 0;
    margin-bottom: 10px;
}

#layer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#layer-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
}

#layer-list li:hover {
    background-color: #f0f0f0;
}

.delete-icon {
    color: red;
    cursor: pointer;
}

#image-controls {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#image-controls label {
    margin-right: 10px;
}

#transparency-slider {
    width: 150px;
}
